
@media (max-width: 795px) {
  #fixedNavbar h3 {
    float: left;
    display: inline-block;
    position: relative;
  }
  #fixedNavbar {
 
  width: 2000px;
  margin: 0 auto;
  display: inline-block;


   }
}

.noPrint {
	display: none;
}

	.radiant {
	width: 600px;
	height: 48px;
}

.radiantMain {
	height: 500px;
	width: 100%;
}

#fixedNavbar h3 {
  overflow: all;
  font-family: Ubuntu;
  line-height: 15px;
  color: white;
  display: inline-block;
  padding-left: 30px;
  padding-right: 20px;
  margin-top: : 0px;
  padding-bottom: 0px;
  text-align: center;
}

header {
    width: 100%;
  z-index: 1000;
  height: 53px;
  text-align: center;
  margin: 0;
  background-color: #7c665f;
  position: fixed;
}

.container {
	height: 100%;
	width: 100%;
	text-align: center;
	position: absolute;
	background-color: grey;
	padding-top: 73px;

}


.innerContainer {
	width: 60%;
	display: inline-block;
}

.grid {
	display: block;
	position: relative;
}


h3 {
	font-family: Ubuntu;
}

.items>div {
	display: inline;
	float: left;
	position: relative;

		}.items img{
			width: 45px;
			height: 45px;
			border: 1px solid black;
			border-radius: 2px;
			}

}



.radiantQuick {
	table-layout: fixed;
	display: table;
}

ul {
	list-style-type: none;
	display: block;
}

li {
	display: block;
	float: left;
}

.quickHeroImage div img{
	width: 55px;
	height: 45px;
}
table.dataTable thead>tr>th.sorting_asc,
table.dataTable thead>tr>th.sorting_desc,
table.dataTable thead>tr>th.sorting,
table.dataTable thead>tr>td.sorting_asc,
table.dataTable thead>tr>td.sorting_desc,
table.dataTable thead>tr>td.sorting {
    background: none;

}
 
th.sorting_asc::after,
th.sorting_desc::after {
   display: none;
   background: none;
}

.itemTiming>div{
	position: absolute;
	right: 1px;
	bottom: 1px;
	color: white;
	font-family: Ubuntu;
	text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}



#preloader {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    overflow: visible;
    background: grey no-repeat center center;
}

table.dataTable {
	display: table-header-group;
}

table.dataTable thead tr {
	font-size: 20px;
    background-color: #505c5e;
    border-bottom: solid #505c5e;
}
table.dataTable tbody tr.stripe1 {
    background-color: #586b6d;
}
table.dataTable tbody tr.stripe2 {
    background-color: #505c5e;
    border-bottom: solid #505c5e;
}

table.dataTable tbody tr td {
	color: white;
	font-family: Ubuntu;
	text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
	text-align: center;
}

#mainTable tbody tr:hover {
background-color: #768284;
}

table.dataTable thead th{
	text-align: center;
	color: white;
	font-family: Ubuntu;
	text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}


.row-border {
	color: white;
	font-family: Ubuntu;
}

.kills, .deaths, .assists {
	font-size: 20px;
	color: white;
	font-family: Ubuntu;
	text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

td {
	border-right: 1px solid black;
}

td:first-child {
  border-left: 1px solid black;
}

td {
  border-bottom: 1px solid black;
	}td.items {
		height: 48px;
		width: 291px;
	}

th {
	border-top: 1px solid black;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
	}th:first-child {
		border-left: 1px solid black;
		}span {
			text-align: center;
		}td.quickHeroImage {
			height: 48px;
		}
